<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Basic Map</title>

  <!-- Leaflet CSS & JS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
  integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
  crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
  integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
  crossorigin=""></script>
  <script src="https://d3js.org/d3.v4.min.js"></script>

  <!-- Our CSS -->
  <link rel="stylesheet" type="text/css" href="p2final\static\css\aditcss.css">
</head>

<body>
  <!-- The div where we will inject our map -->
  
  <select id="selDataset">
    <option value ="All Data">All Data</option>
    <option value="Townhouse">Townhouse</option>
    <option value="Condo/Co-Op">Condo/Co-Op</option>
    <option value ="Single-Family">Single-Family</option>
    <option value ="Alexandria">Alexandria</option>
    <option value ="Alexandria_Townhouse">Alexandria_Townhouse</option>
    <option value ="Alexandria_Condo/Co-Op">Alexandria_Condo/Co-Op</option>
    <option value ="Alexandria_Single_Family">Alexandria_Single_Family</option>
    <option value ="Falls Church">Falls Church</option>
    <option value ="Falls_Church_Townhouse">Falls_Church_Townhouse</option>
    <option value ="Falls_Church_Condo_Co-Op">Falls_Church_Condo_Co-Op</option>
    <option value ="Falls_Church_Single_Family">Falls_Church_Single_Family</option>
    <option value ="Arlington">Arlington</option>
    <option value ="Arlington_Townhouse">Arlington_Townhouse</option>
    <option value ="Arlington_Condo_Co-Op">Arlington_Condo_Co-Op</option>
    <option value ="Arlington_Single_Family">Arlington_Single_Family</option>

  </select>

  <div id="map"></div>

  <!-- API key -->
  <script type="text/javascript" src="config.js"></script>
  <!-- JS -->
  <script type="text/javascript" src="Layer and Marker Practice.js"></script>
  <script type="text/javascript" src="leaflet-heat.js"></script>
</body>
</html>
